@use "/src/styles/colors" as c;
@use "/src/styles/typography" as t;
@use "/src/styles/_mix" as mix;

.image-dropzone {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  border: 2px dashed c.$border;
  overflow: hidden;
  transition: background-color 300ms ease;

  width: 100%;
  height: 25rem;

  &__title {
    @include t.img-placeholder;
    text-align: center;
  }

  &:hover {
    cursor: pointer;
  }

  &__image {
    min-height: 100%;
  }

  &__dragover {
    background-color: c.$button-background;
  }

  .image__delete {
    @include mix.delete;
  }

  &:has(img) {
    width: calc(100% + 3px);
    border: none;
  }

  &.small {
    height: 12rem;

    .image-dropzone__title {
        @include t.img-placeholder-sm;
    }
    
    .image__delete-background {
      --position: 6px;
      right: var(--position);
      bottom: var(--position);
      scale: .9;
    }
  }
}
