$main: #FE4B76;
$link: #0194FE;
$background: #F5F7F9;

$border: #BDC9DB;
$text-placeholder: #8597B4;

$light-black: #282828;
$white: #FFF;
$black: #141416;

$button: #718BB2;
$button-background: #DEE2ED;